# Node
node_modules
package-lock.json

# Mac OS X
.DS_Store

*.zip
/aws-lambda/go/helloworld/main
/aws-lambda/go/handled_exception/main
/aws-lambda/go/unhandled_exception/main
/aws-lambda/go/sentry_context/main

payload.cleaned.json